@import "../../global-styles/variables";
@import "../../global-styles/placeholders";
@import "../../global-styles/mixins";

.about-us{
  text-align: center;
  font-family: $assistant;

  .features-list{
    margin: 0 auto;
    width: max-content;
    text-align: left;

    @include small{
      width: auto;
    }

  }
}