@import "../../global-styles/variables";
.page-title{
  color: $main-blue;
  font-family: $assistant;
}

.find-restaurants-page{
  padding: 20px;

  .restaurants{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .restaurant{
    display: block;
    width: 280px;
    height: 180px;
    margin: 0 10px 20px 10px;

    .img-wrapper{
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;

      &:hover{

        img{
          transform: scale(1.2);
        }

        .overlay{
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.68);
        }

      }

    }

    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: center;
      transition: 0.5s;
      transform: scale(1);
    }

    .overlay{
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      position: absolute;
      top: 0;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.5s;
      width: 100%;
      height: 100%;
    }

  }

}