@import "../../global-styles/variables";
@import "../../global-styles/mixins";

.main-board{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px 20px;
  color: white;
  font-family: $assistant;
  font-size: 16px;

  @include medium{
    padding: 0;
  }

}