@import "../../global-styles/variables";
@import "../../global-styles/placeholders";
@import "../../global-styles/mixins";

.profile-page{
  @extend %block-container;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: auto;
  max-width: 400px;
  margin: 50px auto;
  background-color: $main-blue;
  color: white;
  font-family: $assistant;

  @include medium{
    margin: 0 auto;
  }

  img{
    @extend %avatar;
    width: 100px;
    height: 100px;
  }

  .data-title{
    font-weight: bold;
    margin-right: 5px;
  }

  .data-wrapper{
    font-size: 23px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    span{
      display: block;
    }

  }

}