@import "../../global-styles/variables";
@import "../../global-styles/placeholders";
@import "../../global-styles/mixins";

.restaurants-page{
  font-family: $assistant;
  padding: 50px 20px;
  max-width: 1920px;
  margin: 0 auto;

  @include medium{
    padding: 0;
  }

  .settings-icon{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;

    svg{
      fill: white;
      width: 26px;
      height: 26px;
      padding: 2px;
      margin: 4px;
      transition: 0.5s;

      &:hover{
        transform: rotate(90deg);
      }

    }

  }

  .cross-icon{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;

    svg{
      fill: white;
      padding: 2px;
      margin: 4px;
      background-color: rgba(255, 0, 0, 0.67);
      border-radius: 100px;
    }

  }

  .restaurants{
    display: flex;
    flex-wrap: wrap;
  }

  .restaurant{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 100%;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #dadada;
    box-shadow: 0 0 10px 2px #c8c8c8;
    padding: 0;
    box-sizing: border-box;
  }

  .img-wrapper{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 180px;
    position: relative;

    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;
      transform: scale(1);
    }

    &:hover{

      .settings-icon{
        opacity: 100%;
      }

      .cross-icon{
        opacity: 100%;
      }

      img{
        transform: scale(1.2);
      }

      .show-more{
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.68);
      }

    }

  }

  .show-more{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s;
    width: 100%;
    height: 100%;
  }

  .restaurant-data{
    padding: 0 10px;
    box-shadow: inset 0px 68px 10px -65px rgb(115, 115, 115);

    h2{
      margin: 0;
    }

  }

  .restaurant-full-data{
    text-align: left;
    border-top: 1px solid #d0d0d0;
  }

  .data-name{
    font-weight: bold;
    font-size: 24px;
  }

  .site-link{
    color: $link-color;
    transition: color 0.5s;

    &:hover{
      color: #169bd9;
    }

  }

}