$fonts-path: '../fonts';

@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: url('#{$fonts-path}/Assistant-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: normal;
  src: url('#{$fonts-path}/Assistant-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: bold;
  src: url('#{$fonts-path}/Assistant-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  src: url('#{$fonts-path}/Assistant-ExtraBold.ttf') format('truetype');
}
