@import "../global-styles/mixins";

html, body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

html{
  height: 100%;
}

body{
  background-color: $main-bg-color;
  height: 100%;
}

.react-confirm-alert-overlay{
  background-color: rgba(100, 100, 100, 0.84);
}

.react-confirm-alert-body{
  width: 100%;
  max-width: 450px;
  box-sizing: border-box;
}

.cross-icon{
  display: flex;
  justify-content: flex-end;

  svg{
    fill: white;
    transition: 0.5s;
    transform: rotate(0);
  }

  &:hover{

    svg{
      transform: rotate(90deg);
    }

  }

}

.page{
  padding: 96px 20px 20px 20px;
}

.form-title{
  text-align: center;
  color: white;
  font-size: 42px;
  margin: 0 0 15px 0;
}

.price{
  display: flex;
  flex-wrap: nowrap;
}

.form{
  @extend %block-container;
  background-color: $main-blue;
  max-width: 400px;
  margin: 50px auto;
  padding: 25px 50px;

  @include medium{
    padding: 10px;
    margin: 0 auto;
  }

  .data-title{
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
  }

  .alert{
    padding: 10px 20px;
    background-color: $alert;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;

    &:empty{
      display: none;
    }

  }

  .form-item{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: $assistant;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 10px;

    label{
      width: max-content;

      &:after{
        transition: 0.5s ease;
        content: "\2713";
        display: inline-block;
        color: #1bff00;
        margin-left: 5px;
      }

    }

    &.invalid{

      label{

        &:after{
          color: transparent;
        }

      }

    }

    input, select{
      height: 37px;
      line-height: 25px;
      font-size: 20px;
      font-family: $assistant;
      padding: 5px;
      box-sizing: border-box;
      border: 1px solid gray;
    }

    option{
      font-size: 15px;
    }

  }

  .field-description{
    font-size: 20px;

    a{
      color: white;
      font-size: 18px;

      &:hover{
        color: $link-color-bright-hover;
      }

    }

  }

  .delete-icon{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    &:hover{

      svg{
        transform: rotate(90deg);
      }

    }

    svg{
      transition: 0.5s;
      fill: $alert;
    }

  }

  .submit-btn{
    @extend %general-btn;
    background-color: $main-blue;
    font-family: $assistant;
    font-size: 25px;
    color: white;
    font-weight: 800;
    padding: 5px 20px;
    margin: auto;
    display: block;
    margin: auto;

    @include small{
      margin-top: 20px;
    }

    svg{
      transition: 0.5s;
      fill: white;
      width: 25px;
      height: 25px;
    }

    &:hover{

      svg{
        fill: $main-blue;
      }

    }

  }

}
