$small: 576px;
$medium: 768px;
$large: 992px;

@mixin small{
  @media screen and (max-width: $small) {
    @content;
  }
}

@mixin medium{
  @media screen and (max-width: $medium) {
    @content;
  }
}