%block-container{
  border: 1px solid #d6d6d6;
  box-shadow: 0 0 10px 1px #c8c8c8;
  padding: 25px 20px;
  font-family: $assistant;
}

%general-btn{
  width: max-content;
  font-size: 20px;
  border: 2px solid white;
  padding: 5px 10px;
  margin: 5px 0 0 0;
  transition: 0.5s;
  cursor: pointer;

  path{
    transition: 0.5s;
    fill: white;
  }

  &:hover{
    background-color: white;
    color: $main-blue;
    path{
      fill: $main-blue;
    }
  }

}

%avatar{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
  transform: scale(1);
  cursor: pointer;
  border: 3px solid white;
}

%element-list{
  width: 100%;
  color: white;
  list-style: none;
  padding: 0;
  font-size: 25px;
  margin: 0;

  b{
    margin: 0 5px 0 0;
  }

  span{
    margin: 0 5px;
  }
}