@import "../global-styles/fonts";

//GENERAL METRICS
$site-max-width: 1920px;
$skew-deg: 15deg;

//FONTS
$assistant: 'Assistant', sans-serif;

//COLORS
$main-bg-color: #fbfbfb;
$main-blue: #00a6ff;
$main-blue-hover: #0082cb;
$chat-board-color: #e9e9ff;
$alert: #ff2832;
$alert-light: #ff5856;
$success: #47bd53;
$warning: #ffcd2e;
$info: #0063ff;
$link-color: #1679ab;
$link-color-bright: #00adff;
$link-color-bright-hover: #00e5ff;
$light-gray: #bfbfbf;
$blue-green-gradient: linear-gradient(90deg, rgba(0,166,255,1) 2%, rgba(0,166,255,1) 22%, rgba(0,166,255,1) 60%, rgba(0,166,255,1) 61%, rgba(0,223,255,1) 100%);