@import "../global-styles/mixins";

.form.add-menu-form{
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  padding: 25px;

  .form-item label::after{
    content: '';
  }

  #productPrice{
    margin-right: 5px;
  }

  .form-title{
    width: 100%;
  }

  .messages-wrapper{
    width: 100%;
  }

  .alert{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
  }

  .all-product{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .products-added{
    color: white;
    margin: 0 auto 10px auto;

    h2{
      margin: 0;
      font-size: 28px;
      text-align: center;
    }

  }

  .product-added{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }

  .restaurant{
    display: flex;
    padding: 20px;
    border: 1px solid white;
    transition: 0.5s;
    margin-bottom: 20px;
    box-shadow: none;

    @include medium{
      flex-wrap: wrap;
      justify-content: center;
    }

    &.active{
      -webkit-box-shadow: inset 0px 0px 109px -19px rgba(22,126,201,1);
      -moz-box-shadow: inset 0px 0px 109px -19px rgba(22,126,201,1);
      box-shadow: inset 0px 0px 109px -19px rgba(22,126,201,1);
    }

  }

  .restaurant-logo{

    img{
      display: block;
      width: 200px;
      height: auto;

      @include medium{
        width: 100%;
      }

    }

  }

  .restaurant-data{
    color: white;
    margin: 0 10px;

    h1{
      margin: 0;
    }

    div{
      font-size: 20px;
    }

  }

  .restaurants-wrapper{
    border-right: 1px solid white;

    @include medium{
      border: none;
    }

  }

  .restaurants-wrapper,
  .product-wrapper{
    box-sizing: border-box;
    padding: 0 20px;
  }

  .restaurants-wrapper{
    width: 55%;
    min-width: 500px;

    @include medium{
      min-width: auto;
      width: 100%;
    }

  }

  .product-wrapper{
    width: 45%;
    min-width: 374px;

    @include medium{
      width: 100%;
      min-width: auto;
    }

    > .btn-wrapper{
      padding-bottom: 10px;
    }

  }

  .tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -5px;

    .tag{
      background: white;
      padding: 5px 20px;
      font-size: 20px;
      font-weight: bold;
      border-radius: 10px;
      margin: 10px 5px;
      color: #383838;
    }

  }

  .add-tag-btn{

    .submit-btn{
      margin: 10px 0;
    }

  }

  .ingredients-wrapper{
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
    margin: 0 -10px;

    @include small{
      margin: 0;
    }

  }

  .checkbox-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 5px;
    box-sizing: border-box;
    width: calc(100%/4);

    @include small{
      width: calc(100%/2);
      min-width: 120px;
      margin: 0;
    }

    input{
      margin-right: 5px;
    }

  }

  > .btn-wrapper{
    margin: 0 auto 0 auto;
    border-top: 1px solid white;
    width: 100%;
    padding-top: 20px;
  }

}