@import "../global-styles/variables";
@import "../global-styles/placeholders";

.form.add-restaurant-form{
  max-width: 800px;

  .add-contact-btn{
    margin: 0 5px;
  }

}

.row-title{
  width: 100%;
  margin: 0;
  font-size: 32px;
  color: white;
  border-bottom: 1px solid white;
}

.restaurant-row{
  margin-bottom: 10px;
  flex-wrap: wrap;

  .form-item{
    padding: 0 5px;
  }

}

.city-wrapper{
  position: relative;
}

.select{
  position: absolute;
  min-width: 250px;
  background-color: white;
  color: black;
  padding: 0;
  width: 100%;
  height: auto;
  list-style: none;
  font-weight: normal;
  font-family: $assistant;
  overflow: auto;
  top: 71px;
  left: 6px;
  margin: 0;
  border: 1px solid #828282;

  li{
    transition: 0.5s;
    padding: 0 5px;

    &:hover{
      letter-spacing: 2px;
    }

  }

}

.contacts-list{
  @extend %element-list
}

