@import "../global-styles/variables";
@import "../global-styles/placeholders";
@import "../global-styles/mixins";

.chat-board{
  @extend %block-container;
  width: 100%;
  max-width: 350px;
}

.product-list-item{
  text-align: center;

  img{
    display: block;
    margin: 0 auto;
  }

}

.message-area{
  overflow-x: hidden;
  overflow-y: auto;
  height: 265px;
  padding: 0 10px;
}

.message-wrapper{
  margin: 10px 0;
}

.client{
  text-align: right;
}

.message{
  display: inline-block;
  width: auto;
  padding: 10px;

  img{
    width: 100%;
    height: auto;
    max-width: 150px;
  }

  h2{
    font-size: 20px;
    margin: 0;
  }

  .message-text{
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: bolder;
  }

  a{
    color: $link-color-bright;
    transition: 0.5s;
    display: block;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid white;

    &.more{
      font-size: 22px;
      color: white;
      margin: 5px 0 0 0;
      transition: 0.5s;

      &:hover{
        letter-spacing: 1px;
        color: $main-blue;
      }

    }

    &:hover{
      color: $link-color-bright-hover;
    }

    &:last-of-type{
      border: none;
    }

  }

  a.message-document{
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    text-decoration: underline;
    border: none;
    padding: 0;
    margin: 0;
    word-break: break-word;

    &:hover{
      text-decoration: none;
    }

  }

}

.message-bot{
  background-color: gray;
}

.message-client{
  background-color: $main-blue;
  margin-left: auto;
}

.message-form{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.message-wrapper{
  display: flex;
  width: 100%;

  @include small{
    flex-wrap: wrap;
  }

}

#message{
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid gray;
  font-family: $assistant;

  &::placeholder{
    font-size: 16px;
  }

}

.send-btn{
  display: inline-block;
  width: 80px;
  box-sizing: border-box;
  padding: 8px 15px;
  border: 1px solid gray;
  border-left: 0;
  background-color: $main-blue;
  color: white;
  font-family: $assistant;
  font-size: 16px;
  transition: 0.5s;

  @include small{
    border-top: 0;
    border-left: 1px solid gray;
  }

  &:hover{
    background-color: $main-blue-hover;
  }

}

.attachment-wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  border: 2px solid $main-blue;
  padding: 10px;

  .icon{
    margin-right: 10px;
    display: flex;
    transform: scale(1);
    transition: 0.5s;

    &:hover{
      transform: scale(1.2);
    }

    path{
      fill: $main-blue;
    }

  }

}

.file-field{
  margin-right: 5px;
}

.message-alert{
  font-weight: bold;
  font-size: 15px;
  color: $alert;
}

.wait {
  margin-top: auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  background-color: transparent;
}

.wait > div {
  background-color: $main-blue;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.wait .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.wait .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.wait .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.wait .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}