@import "../global-styles/variables";
@import "../global-styles/mixins";

.did-you-know-wrapper{
  $box-max-width: 280px;
  $arrow-width: 40px;
  position: fixed;
  top: 50%;
  right: calc(-1 * (#{$box-max-width} - 20px));
  transform: translateY(-50%);
  background: $blue-green-gradient;
  padding: 10px 20px;
  color: white;
  font-family: $assistant;
  text-align: center;
  font-size: 20px;
  width: 100%;
  max-width: $box-max-width;
  box-sizing: border-box;
  transition: 0.5s;
  border: 3px solid $main-bg-color;
  z-index: 5;

  @include small{
    top: auto;
    bottom: 0;
    transform: none;
    max-width: none;
    right: 0;
    left: auto;

    &.show{
      right: 0;

      div.left-icon{
        transform: translateX(-50%) scale(1.0) rotate(270deg);

        &:hover{
          transform: translateX(-50%) scale(1.2) rotate(270deg);
        }

      }

    }

    div.left-icon{
      top: calc(-1 * (#{$arrow-width} / 2) - 5px);
      left: 50%;
      transform: translateX(-50%) scale(1.0) rotate(90deg);

      &:hover{
        transform: translateX(-50%) scale(1.2) rotate(90deg);
      }

    }

  }

  h2{
    margin: 0;
  }

  &.show{
    right: 0;

    .left-icon{
      transform: translateY(-50%) scale(1.0) rotate(180deg);

      &:hover{
        transform: translateY(-50%) scale(1.2) rotate(180deg);
      }

    }

  }

  .left-icon{
    width: $arrow-width;
    position: absolute;
    left: calc(-1 * (#{$arrow-width} / 2));
    top: 50%;
    transition: 0.5s;
    transform: translateY(-50%) scale(1.0) rotate(0);

    &:hover{
      transform: translateY(-50%) scale(1.2) rotate(0);
    }

    svg{
      border-radius: 100px;
      background-color: #008bca;
      border: 3px solid $main-bg-color;
    }

  }

}