@import "../global-styles/variables";
@import "../global-styles/mixins";

.flash-messages{
  width: 400px;
  margin: 20px auto 0 auto;
  padding: 20px;
  color: white;
  font-family: $assistant;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  transition: 0.5s;

  @include medium{
    width: auto;
    margin: 20px auto;
  }

  &:empty{
    padding: 0;
    margin: 0;
  }

}

.success{
  background-color: $success;
}

.alert{
  background-color: $alert;
}

.warning{
  background-color: $warning;
}

.info{
  background-color: $info;
}