@import "../global-styles/variables";

header{
  position: fixed;
  width: 100%;
  background: rgb(0,166,255);
  background: $blue-green-gradient;
  box-shadow: 0 0 10px 1px #c8c8c8;
  z-index: 1;
}

.header-content{
  max-width: $site-max-width;
  margin: 0 auto;
}