@import "../global-styles/variables";
@import "../global-styles/placeholders";
@import "../global-styles/mixins";

.menu{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  @include medium{
    flex-direction: column-reverse;
  }

}

.menu-links{
  display: flex;

  &.hide{
    display: none;
  }

  @include medium{
    flex-direction: column;
  }

}

.hamburger{
  display: none;
  width: 45px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  @include medium{
    display: block;
    margin: 0;
  }

}

.hamburger span{
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2), .hamburger span:nth-child(3) {
  top: 15px;
}

.hamburger span:nth-child(4) {
  top: 30px;
}

.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu-link{
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  transition: 0.5s;
  font-family: $assistant;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;

  @include medium{
    justify-content: center;
  }

  &:hover{
    background-color: $main-blue-hover;
  }

}

.profile{
  position: relative;
  margin-left: auto;

  @include medium{
    padding: 10px;
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid white;
  }

  &:hover{
    background-color: transparent;
  }

  img{
    @extend %avatar;

    &:hover{
      transform: scale(1.15);
    }

  }

}