.popup-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(50, 50, 50, 0.78);
  overflow: auto;
  padding-top: 50px;
  box-sizing: border-box;
}

.popup{
  position: relative;
  padding: 5px;
  margin: 0 20px;
}