@import "../global-styles/variables";
@import "../global-styles/mixins";

.profile-menu-wrapper{
  transition: 0.5s;
  position: absolute;
  right: 45px;
  display: block;
  opacity: 0;
  top: 50px;
  visibility: hidden;

  &.open{
    opacity: 1;
    top: 85px;
    visibility: visible;

    @include medium{
      display: block;
    }

  }

  @include medium{
    position: static;
    display: none;
    align-self: center;
  }

}

.profile-menu{
  list-style: none;
  box-shadow: 0 0 4px 1px white;
  padding: 10px;
  width: 250px;
  box-sizing: border-box;
  background: rgb(0,166,255);
  background: $blue-green-gradient;
  transform: skewX(-$skew-deg);

  @include medium{
    transform: none;
    text-align: center;
    width: auto;
    background: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

}

.profile-menu-item{
  color: white;
  display: block;
  transition: 0.5s;
  transform: skewX($skew-deg);
  padding-left: 10px;
  cursor: pointer;
  font-weight: normal;

  @include medium{
    transform: none;
    padding: 0;
  }

  a{
    color: white;
  }

  &:hover{
    letter-spacing: 2px;

    .menu-icon{
      svg{
        transform: scale(1.2);
      }
    }

  }

}

.menu-icon{
  display: inline-block;

  svg{
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
    transition: 0.5s;
    transform: scale(1.0);

    path{
      fill: white;
    }

  }

}