@import "../global-styles/variables";
@import "../global-styles/placeholders";
@import "../global-styles/mixins";

.preview-avatar{
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin: auto;
  border: 5px solid white;
}

.preview-name{
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  color: white;
  margin: 5px 0 15px 0;
}

.upload-btn{
  @extend %general-btn;
  margin: 0;
}

.upload-icon{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.form-item-wrapper{
  display: flex;
  margin: 0 -10px;

  @include small{
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }

}

.inline{
  display: flex;
  width: 50%;
  padding: 0 10px;

  @include small{
    width: 100%;
    padding: 0;
  }

  input{
    width: 100%;
  }

}