@import "../global-styles/variables";
@import "../global-styles/placeholders";

.restaurant-settings-popup{
  width: 100%;
  max-width: 800px;

  .cross-icon{
    background-color: $main-blue;
    padding: 5px;
  }

  .restaurant-img{
    width: 250px;
    margin-bottom: 10px;
  }

  .products-list{
    @extend %element-list;
  }

}

.form.restaurant-settings-form{
  max-width: none;
  width: 100%;
  margin: 0 auto;
  box-shadow: none;
  border: none;
  box-sizing: border-box;
}