@import "../global-styles/variables";
@import "../global-styles/placeholders";
@import "../global-styles/mixins";

.restaurant-popup{
  width: 100%;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.58);

  .menu{
    flex-wrap: wrap;
    justify-content: space-between;

    > h2{
      width: 100%;
      margin: 0;
      text-align: center;
    }

    h3{
      margin: 0;
    }

  }

  .products{
    width: 49%;
    min-width: 275px;

    @include medium{
      min-width: auto;
      width: 100%;
    }

    > h3{
      text-align: center;
      border-bottom: 1px solid white;

      @include medium{
        text-align: left;
      }

    }

  }

  .empty-text{
    width: 100%;
    text-align: center;
  }

  .product{
    display: flex;
    justify-content: space-between;
  }

  .text-data{
    padding: 20px 10px;
    color: white;
    font-size: 20px;
    font-family: $assistant;

    a{
      color: $main-blue;
      transition: 0.5s;

      &:hover{
        color: #3de1ff;
      }

    }

  }

  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .data-name{
    margin-right: 5px;
    font-weight: bold;
  }

  .logo{

    img{
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: -1;
    }

  }

}