@import "../global-styles/variables";

.search-popup{
  width: 100%;
  max-width: 800px;
  background-color: white;

  .upload-icon{
    height: 22px;
  }

  &.popup .cross-icon{

    svg{
      fill: black;
    }

  }

  .btn-wrapper{

    .submit-btn{
      margin-left: 0;
      border: 1px solid $main-blue;
      margin-top: 0;
    }

  }

  .search-results{
    text-align: center;
    font-size: 20px;
    max-height: 250px;
    overflow: auto;
    margin-top: 10px;
    border: 1px solid $light-gray;

    &:empty{
      border: none;
    }

  }

}

.form.search-text-form{
  background-color: white;
  margin: 0;
  width: 100%;
  max-width: none;
  box-sizing: border-box;
  box-shadow: none;
  border: none;

  .submit-btn{
    font-size: 20px;

    svg{
      width: 20px;
      height: 20px;
    }

  }

  .form-item{
    margin-bottom: 5px;
  }

}